/* Common shared styles */
body{
    font-family: lato, sans-serif;
    font-family: open sans ,sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav_text{
    color:#FD6E0A
}
/* Hire me button */
.p_button{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px 19px 36px;
}
.contract{
    border-radius: 5px;
    background: #FFF8F3;
    border: 1px #FD6E0A solid;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    padding: 18px 35px 19px 36px;
}
.nav_title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
    
}
nav a{
    text-decoration: none;
    color:#474747
}
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
}
.duck_img{
    width: 584px;
    height: 676px;
}

